<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mymapperinterface.ClientMapper">
<select  id="login1" parameterType="com.wuchengxu.test.testdome1.LoginVO" resultType="com.wuchengxu.test.testdome1.client"  > 
	select id,username,password from client where username=#{username} and password=#{password} 
</select>
<select  id="login2" parameterType="com.wuchengxu.test.testdome1.LoginVO" resultType="com.wuchengxu.test.testdome1.client"  > 
	select id,username,password from client where username=#{username} and password=#{password} 
</select>

</mapper>